fieldset
  .form-group
    .pull-right
      label.col-lg-2.control-label(for='active') Active
      .col-lg-10
        .togglebutton
          label
            input(type='checkbox', name='active', checked=poke.active)
  .form-group
    label.col-lg-2.control-label(for='name') Name
    .col-lg-10
      input#name.form-control(type="text", placeholder="name", name="name", value=poke.name)
  .form-group
    label.col-lg-2.control-label(for='keywords') Keywords
    .col-lg-10
      input#keywords.form-control(type="text", placeholder="DRH", name="keywords", value=poke.keywords)
  .form-group
    label.col-lg-2.control-label(for='location_params') Locations
    .col-lg-10
      select#location_params.form-control(name="location_params")
        each val, index in locations
          option(selected=poke.location_params == index, value=index) #{val}
  .form-group
    label.col-lg-2.control-label(for='industry_params') Industries
    .col-lg-10
      select#industry_params.form-control(name="industry_params")
        each val, index in industries
          option(selected=poke.industry_params == index, value=index) #{val}
  .form-group
    label.col-lg-2.control-label(for='relationship_params') Positions
    .col-lg-10
      select#relationship_params.form-control(name="relationship_params")
        each val, index in relationships
          option(selected=poke.relationship_params == index, value=index) #{val}
  .form-group
    .col-lg-10.col-lg-offset-2
      a.btn.btn-default(href="/users/#{user._id}") cancel
      button.btn.btn-primary(type='submit') submit
