fieldset
  .form-group
    .pull-right
      label.col-lg-2.control-label(for='active') Active
      .col-lg-10
        .togglebutton
          label
            input(type='checkbox', name='active', checked=poke.active)
  .form-group
    label.col-lg-2.control-label(for='name') Name
    .col-lg-10
      input#name.form-control(type="text", placeholder="name", name="name", value=poke.name)
  .form-group
    label.col-lg-2.control-label(for='keywords') Keywords
    .col-lg-10
      input#keywords.form-control(type="text", placeholder="DRH", name="keywords", value=poke.keywords)
  .form-group
    label.col-lg-2.control-label(for='location_params') Locations
    .col-lg-10
      input#location_params.form-control(type="text", placeholder="fr", name="location_params", value=poke.location_params)
  .form-group
    label.col-lg-2.control-label(for='industry_params') Industries
    .col-lg-10
      input#industry_params.form-control(type="text", placeholder="Internet", name="industry_params", value=poke.industry_params)
  .form-group
    label.col-lg-2.control-label(for='position_params') Positions
    .col-lg-10
      input#position_params.form-control(type="text", placeholder="Director", name="position_params", value=poke.position_params)
  .form-group
    .col-lg-10.col-lg-offset-2
      a.btn.btn-default(href="/users/#{user._id}") cancel
      button.btn.btn-primary(type='submit') submit

